/node_modules
/public/hot
/public/storage
/public/assets
/storage/*.key
/soft_delete_laravel
.env
.env2
schedule.data
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/*
/vendor
/public/css
/public/install
/public/js